.uppernav {
    width: auto;
}

.uppernav1 {
    font-size: 0.9vw;
}

.lowernav {
    font-size: 1vw;
}

.forwd {
    width: 40%;
}

.img1 {
    width: 230px;
}

.herohead h1 {
    font-size: 5vw;

}

.customtoggle {
    display: none;
}

.no-scroll {
    overflow: hidden;
}

@media (max-width : 1280px) {
    .toend {
        margin-right: 4%;

    }

    .icons {
        margin-right: 3%;
        padding-right: 0px;

    }

    .toend2 {
        padding-right: 0px;
    }

    .customwidth1 {
        width: 40%;
        padding-left: 2%;
        margin-right: 4%;
    }

    .customwidth2 {
        width: 90%;

    }

    .textsetting {
        margin-top: 90px;
    }

}

@media (max-width : 1030px) {
    .forwd {
        width: 150px;
    }

    .img1 {
        width: 100px;
        height: auto;
        display: block;

    }

    .herohead {
        margin-right: 0%;

    }

    .herohead1 h1 {
        font-size: 5vw;
    }

    .uppernav {
        display: none;
    }

    .dis1 {
        display: none;
    }

    .customwidth1 {
        width: 46%;
        padding-left: 2%;
        margin-right: 4%;
        margin-top: 65px;
    }

    .customwidth2 {
        width: 80%;
    }

    .customheight1 {
        height: 80%;

    }

    .textsetting {
        margin-top: 90px;
    }

    .customtoggle {
        display: block;
        background-color: #006E6D;
        z-index: 1;
        position: fixed;
        bottom: 32px;

    }

    .customtoggle span {
        position: relative;
        bottom: 9px;
    }

    .customtoggle button {
        cursor: pointer;
    }

    #white {
        background-color: antiquewhite;
    }
}

@media (max-width : 770px) {
    .hero {
        background-attachment: fixed;
        height: 190vh;
    }

    .customsetting1 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

    }

    .herohead {
        margin-top: 130px;
        margin-left: 0%;
        margin-right: 0%;

    }

    .herohead1 {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-bottom: 25px;

    }

    .herohead h1 {
        font-size: 7vw;
        text-align: center;

    }

    .herohead h3 {
        text-align: center;
    }



    .customwidth1 {
        width: 390px;
        padding-left: 2%;
        margin-right: 4%;
        margin-top: 300px;
    }

    .customwidth2 {
        width: 100%;

    }

    .textsetting {
        margin-top: 90px;
    }

    .customtoggle {
        display: block;
        background-color: #006E6D;
        z-index: 1;
        position: fixed;
        bottom: 32px;

    }

    .customtoggle span {
        position: relative;
        bottom: 9px;
    }

    .customtoggle button {
        cursor: pointer;
    }

    #white {
        background-color: antiquewhite;
    }
}

@media (max-width :500px) {
    .logosetting {
        margin-left: 20px;
    }

    .herohead1 {
        display: block;
        margin-bottom: 20px;
    }

    .herohead h1 {
        font-size: 11vw;
        text-align: center;
        padding: 8px;
    }

    .customwidth1 {
        width: 340px;
        padding-left: 2%;
        margin-right: 4%;
        margin-top: 240px;
    }

    .customtoggle {
        display: block;
        background-color: #006E6D;
        z-index: 1;
        position: fixed;
        bottom: 32px;

    }

    .customtoggle span {
        position: relative;
        bottom: 9px;
    }

    .customtoggle {
        cursor: pointer;
    }

    #white {
        background-color: antiquewhite;
    }

    .filter-green {
        filter: invert(44%) sepia(89%) saturate(5411%) hue-rotate(88deg) brightness(95%) contrast(90%);
    }

}

#nav-overlay-smscreens {
    -ms-overflow-style: none;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
}

#nav-overlay-smscreens::-webkit-scrollbar {
    display: none;
}